.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected-movie {
  color: brown;
}

.movie-article {
  border: #495e86;
  border-radius: 12px;
  /*background: linear-gradient(90deg, rgba(151,176,30,1) 0%, rgba(34,254,151,0.9697012594100141) 100%);*/
  background: rgb(215, 167, 247);
  background: linear-gradient(60deg,rgb(254, 73, 73) 0%, rgb(251, 193, 113)100%);
  display: block;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.movie-list {
  display: flex;
}

.text {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Asap", sans-serif;
}

.heading-text {
  font-family: "Asap", sans-serif;
  margin-left: 20px;
}

.heading-subtext {
  font-family: "Asap", sans-serif;
  margin-left: 40px;
}